<div class="columns is-vcentered is-size-5">
    <div id="info_who_i_am" class="column is-half is-offset-one-quarter mt-6 pb-6">
        <section id="self_introduction">

            <div class="has-text-centered">
                <img src="~/images/perfil_photo.jpg" class="s25" style="border-radius: 50%" />
            </div>

            <p class="mb-4 mt-4">Olá, me chamo André Soares Gomes, tenho 21 anos e moro atualmente em Araucária/PR.</p>

            <p>Trabalho com desenvolvimento de software a 1 ano, antes de me tornar desenvolvedor trabalhava como metrologista/torneiro mecânico há mais de 4 anos.</p>

            <section class="has-text-justified mt-6" id="faq_section">
                <h1 class="is-size-2 card has-text-centered">FAQ</h1>

                <h2 class="is-size-4 mt-6 card has-text-centered">O que te motivou a trocar de área?</h2>
                <p class="mt-5">
                    R: Eu sempre gostei de programar, mas nunca tive oportunidade de parar pra estudar, quando tive o tempo apropriado fiz a transição gradualmente.
                </p>

                <h2 class="is-size-4 mt-5 card has-text-centered">Quais são seus conhecimento em programação?</h2>
                <p class="mt-5">
                    R: Como sou desenvolvedor fullstack, acabo me inteirando das duas pontas, todavia por pender mais pro lado do back-end, acabo utilizando minimalismo
                    no front e me atentando mais em aspectos do back.
                </p>

                <p class="mt-5">
                    Eu possuo conhecimentos em TDD (estou estudando sobre testes ainda), DDD e sistemas voltados em business layer.
                    <br />
                    Sei utilizar Entity Framework e Dapper, pretendo aprender a utilizar NO-SQL (MongoDB por exemplo).
                </p>

                <p class="mt-5">
                    Em C# possuo conhecimentos aprofundados, sei utilizar WebForms, Razor, Blazor e demais ferramentas da .NET.
                    <br />
                    Em Javascript sei utilizar as libs mais usadas do mercado, Jquery, SweetAlert, JqueryModal, ChartJS e etc...
                </p>

                <p class="mt-5">
                    Gosto de manter o código limpo e utilizar os bons padrões de projeto (SOLID, Clean Architeture, GOF).
                </p>

                <p class="mt-5">
                    Minha role favorita como desenvolvedor é gerir/criar libs para desenvolvimento, para facilitar o desenvolvimento nas empresas.
                </p>

                <p class="mt-5">
                    Possuo perfil pró-ativo, gosto de trabalhar em equipe.
                    <br />
                    Inclusive possuo recomendação dos professores da minha faculdade.
                </p>

                <h2 class="is-size-4 mt-5 card has-text-centered">Quais são seus conhecimentos off-topic?</h2>
                <p class="mt-5">
                    R: Possuo conhecimentos também em UNITY (desenvolvo jogos no tempo livre).
                    <br />
                    Sei utilizar o Photoshop (2021).
                    <br />
                    Possuo conhecimentos em DaVinci Resolve (ferramenta de edição de vídeo).
                </p>
            </section>
        </section>
    </div>
</div>