<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://cursos.alura.com.br/user/andrsoares953/fullCertificate/9eae158f03a6c9e3782ef09816ef2eba" target="_blank">
                <img src="~/images/certificates_img/alura_certificate.png" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png"/>
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Certificação completa do alura - 737 horas</p>
            </div>
        </div>

        <div class="content">
            Com este link você consegue ter um overview das minhas certificações na plataforma alura.
        </div>
    </div>
</div>