<style>
    #ASP_Modal {
        top: -154px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-f2606b3a-a18b-4992-882f-82b4a6fc7d68/" target="_blank">
                <img src="~/images/certificates_img/asp_mvc_certificate.png" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="ASP_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Curso de ASP .NET Core MVC - Criando um Site do Zero - 9.5 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que aborda conhecimento sobre a plataforma .NET utilizando o ASP MVC.
        </div>
    </div>
</div>