<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <img src="~/images/certificates_img/clean_architeture.png" alt="Alura certificação" width="480" height="960">
        </figure>
    </div>

    <div id="" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Clean Architecture Essencial - ASP .NET Core com C# - 10 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que abordar os conhecimentos em Clean Architeture na plataforma .NET Core.
        </div>
    </div>
</div>