<style>
    #C_Completo_Modal {
        top: -126px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-1e86af95-e518-4327-aaa0-7e30e4b9fbdf/" target="_blank">
                <img src="~/images/certificates_img/c_sharp_two_certificate.png" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="C_Completo_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">C# Completo e Profissional - 63 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que aborda o C# de forma profunda passando por todas as estruturas desde do básica ao avançado.
        </div>
    </div>
</div>