<style>
    #modal_ddd {
        top: -90px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-67354dd4-8acd-4d9d-be8e-03d682eb41d6/" target="_blank">
                <img src="~/images/certificates_img/ddd_certificate.png" alt="DDD Certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="modal_ddd" class="modal_info wr25" >
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Aprendendo Domain Driver Desing (DDD) do zero - 7 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que aborda os principais conhecimentos de Clean Architeture e DDD.
        </div>
    </div>
</div>