<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <img src="~/images/certificates_img/excel_certificate.jpg" alt="Alura certificação" width="480" height="960">
        </figure>
    </div>

    <div id="" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Excel Básico Avançado 5 Cursos - Formação Especialista (42 horas)</p>
            </div>
        </div>

        <div class="content">
            Certificação voltada a ensinar o básico até a parte de desenvolver macros e visualizações complexas no EXCEL.
        </div>
    </div>
</div>