<style>
    #GO_Modal {
        top: -57px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-19b1f121-85dd-4605-88a4-a36c848be9c0/" target="_blank">
                <img src="~/images/certificates_img/go_lang_certificate.png" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="GO_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Go (Golang): Explorando a Linguagem do Google - 11.5 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que ensina o básico para trabalhar com a linguagem Golang.
        </div>
    </div>
</div>