<style>
    #GOF_Modal {
        top: -144px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-c27d76a0-3eb8-452c-aae9-654f7ad1d81d/" target="_blank">
                <img src="~/images/certificates_img/design_certificate.png" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="GOF_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Padrões de Projeto em JAVA na Prática! - 14 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que aborda os Design Patterns usando Java.
        </div>
    </div>
</div>