<style>
    #Java_Modal {
        top: -215px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-e76d45dc-5530-437d-aa1f-f50ecf218ebe/" target="_blank">
                <img src="~/images/certificates_img/java_certificate.jpg" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="Java_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Java COMPLETO Programação Orientada a Objetos +Projetos - 50 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que aborda como utilizar a plataforma Java e suas funcionalidades básicas.
        </div>
    </div>
</div>