<style>
    #PS_PT_Modal {
        top: -123px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-d6752732-ee1b-4f6e-9303-aceb0554b7dc/" target="_blank">
                <img src="~/images/certificates_img/ps_two_certificate.jpg" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="PS_PT_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Adobe Photoshop 2018 Completo - do Iniciante ao Avançado - 18.5 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que ensina a utilizar PS para produzir trabalhos, artes, edições e retoques. (do básico ao intermediário).
        </div>
    </div>
</div>