<style>
    #PS_USA_Modal {
        top: -125px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-E7R6EQPR/" target="_blank">
                <img src="~/images/certificates_img/ps_certificate.jpg" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="PS_USA_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Photoshop CC for Beginners : Adobe Photoshop Course - 15 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que ensina como utilizar o Photoshop CC (retorcar ,dar realce em fotos e fazer edições do 0).
        </div>
    </div>
</div>