<style>
    #SQL_Modal {
        top: -126px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-3cfc4c30-23c7-4b01-8b72-d3759c52897e/" target="_blank">
                <img src="~/images/certificates_img/DB_Certificate.png" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="SQL_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">O curso completo de Banco de Dados e SQL, sem mistérios! - 58 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que ensina o básico de SQL e como aplicar suas padronizações em projetos.
        </div>
    </div>
</div>