<style>
    #UML_Modal {
        top: -106px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-96e6e927-a911-474f-a2f8-babec33c573c/" target="_blank">
                <img src="~/images/certificates_img/uml_certificate.jpg" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="UML_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Modelagem de Dados UML (Análise&Projeto Orientado a Objetos) - 13 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que aborda os principais tópicos em UML e como utiliza-lo.
        </div>
    </div>
</div>