<style>
    #Unity_2D_Modal {
        top: -115px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-8b1c0a1b-d461-444e-8e48-00731178fb07/" target="_blank">
                <img src="~/images/certificates_img/game_develop_certificate.jpg" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="Unity_2D_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Jogos 2D com Unity + C# - 95 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que ensina da a programação a parte gráfica no desenvolvimento 2D.
        </div>
    </div>
</div>