<style>
    #Unity_Definitivo {
        top: -108px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-0B2FGBM1/" target="_blank">
                <img src="~/images/certificates_img/unity_certificate.png" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="Unity_Definitivo" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Aprenda Unity - 2D Definitivo - 41 horas</p>
            </div>
        </div>

        <div class="content">
            Ensina do básico ao intermediário as principais classes de uso na Unity e como otimizar os jogos em UNITY.
        </div>
    </div>
</div>