<style>
    #VUE_JS_Modal {
        top: -125px;
    }
</style>

<div class="card moldure">
    <div class="card-image pt-6">
        <figure class="">
            <a href="https://www.udemy.com/certificate/UC-d3306141-b712-4cf4-b91d-44628284e913/" target="_blank">
                <img src="~/images/certificates_img/vue_certificate.jpg" alt="Alura certificação" width="480" height="960">
            </a>
        </figure>
    </div>

    <div id="VUE_JS_Modal" class="modal_info wr25">
        <a>
            <img src="~/images/misc/medal.png" />
        </a>
    </div>

    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4 pb-3">Curso Vue JS 2 - O Guia Completo (incl. Vue Router & Vuex) - 43 horas</p>
            </div>
        </div>

        <div class="content">
            Certificação que aborda como utilizar o VUE JS 2 e seus componentes mais modernos.
        </div>
    </div>
</div>