:root {
    --primary-white: #FFFBFB;
    --secondary-white: rgba(220, 213, 213, 0.85);
    --color-bg-black: rgba(0, 0, 0, 0.90);
    --primary-black: 82, 82, 79, 0.11;
    --primary-green: #4FE817;
    --primary-green-light: rgb(157, 233, 156);
}
