<link rel="stylesheet" href="~/css/Home/index.css" />

<section id="home_info">
    <div class="columns">
        <div class="column is-12 has-text-centered">
            <p>Em progresso (W.I.P)</p>
        </div>
    </div>
</section>

