<link rel="stylesheet" href="~/css/Works/index.css" />

<div class="columns is-vcentered is-size-5">
    <div id="introduction" class="column is-half is-offset-one-quarter mt-6 pb-6">

        <section id="self_introduction">
            <p>Sou desenvolvedor fullstack a 1 ano utilizando a plataforma <b>.NET e Javascript</b>.</p>
        </section>

        <section id="my_specializations" class="pt-5">
            <p>Nas empresas que eu trabalhei, desempenhei as seguintes funções:</p>
        </section>

        <section id="whb_autmotive_section" class="pt-6 container">
            <div class="has-text-centered card py-4">
                <b>
                    WHB AUTOMOTIVE
                    <br />
                    (1 ano e 7 meses / 2019 - 2020)
                </b>
            </div>

            <div id="whb_info_intro" class="pt-3">
                Aprendiz de metrologia, era responsável pelo controle de qualidade das peças ( motor de carro, cabeçote e etc...) por meio de análise gráfica 3D.
            </div>

            <ul class="pt-3 list_function" id="whb_list_function">
                <li>
                    Utilização e desenvolvimento de funções em Excel para formulários padrões.
                </li>

                <li>
                    Criação de funções no PoliWorks para workflow agilizado.
                </li>

                <li>
                    Previsibilidade de futuras falhas com análise gráfica.
                </li>

                <li>
                    Programação em VB e PoliWorks.
                </li>
            </ul>
        </section>

        <section id="tizer_autmotive_section" class="pt-6 container">
            <div class="has-text-centered card py-4">
                <b>
                    TIZER TECNOLOGIA S.A
                    <br />
                    (6 meses / 2020 - 2021)
                </b>
            </div>

            <div id="tizer_info_intro" class="pt-3">
                Estagiário em programação, responsável por resolução de bugs e libs internas.
            </div>

            <ul class="pt-3 list_function " id="tizer_list_function">
                <li>
                    Desenvolvimento em .NET 2.1 | POSTGRESQL | Jquery e Javascript.
                </li>

                <li>
                    Em .NET utilizava EF Core e Razor (ASP MVC e MVVM).
                </li>

                <li>
                    Em Javascript ficava responsável pela criação de libs internas para atender as necessidades eventuais do projeto.
                </li>

                <li>
                    Fazia a correção de bugs e refatoração de código.
                </li>
            </ul>
        </section>

        <section id="leaf_autmotive_section" class="pt-6 container">
            <div class="has-text-centered card py-4">
                <b>
                    LEAF TECNOLOGIA S.A
                    <br />
                    (3 meses / 2021 - 2021)
                </b>
            </div>

            <div id="leaf_info_intro" class="pt-3">
                Full Stack JR II, responsável pela criação do portal de acessoria jurídica do Banco Pan.
            </div>

            <ul class="pt-3 list_function " id="leaf_list_function">
                <li>
                    Desenvolvimento em .NET 3 | SQL Server | Jquery e Javascript (Chart JS e DataTableJS).
                </li>

                <li>
                    Em .NET utilizava EF Core e Razor (ASP MVC e MVVM).
                </li>

                <li>
                    Era responsável por criar o projeto (trabalhava sozinho dentro do projeto C#), auxiliava o DBA com a criação de tabelas
                    e querys performáticas (Procedures).
                </li>

                <li>
                    Criação de relatórios , envio de e-mails, acompanhamento jurídico, envio de mensagens automáticas, formatação de Excel para HTML e de HTML para Excel.
                    <br />
                    Criação de criptografia para documentos sigilosos.
                    <br />
                    Acompanhamento de processo jurídico em tempo real com análise de bens.
                </li>

                <li>
                    Treinamento voltado para os usuários do sistema.
                </li>

                <li>
                    Criação de documentação referente ao próprio sistema.
                </li>
            </ul>
        </section>

        <section id="benner_autmotive_section" class="pt-6 container">
            <div class="has-text-centered card py-4">
                <b>
                    OTTO HX
                    <br />
                    (2 meses / 2021 - Atual)
                </b>
            </div>

            <div id="benner_info_intro" class="pt-3">
                Full Stack JR - Squad RoadMap (time responsável pelas inovações)
            </div>

            <ul class="pt-3 list_function " id="benner_list_function">
                <li>
                    Desenvolvimento em WebForms | ASP MVC 3 | SQL Server & Oracle | Javascript | Jquery
                </li>

                <li>
                    Dou manutenção no sistema legado em WebForms e procedures, desenvolvo coisas novas no sistema mais moderno ASP MVC com consumo em API (services).
                </li>

                <li>
                    Sou responsável com +2 desenvolvedores na criação do módulo de teleconsulta, onde os médicos podem efetuar telemedicina com seus pacientes.
                </li>

                <li>
                    Criação da lib interna da UI (carregamento, modais e etc..).
                </li>

                <li>
                    Manutenção utilizando padrões de projeto SOLID e GOF.
                </li>

            </ul>
        </section>
    </div>
</div>